### 使用流程
1. 建立Insert、drop、add等各項function
2. 建立資料庫、表格

### 1.建立資料庫、表格

In [6]:
# # # 建立資料庫
import sqlite3  
import pandas as pd
  
db_name = 'data/sqlchain.db'
conn = sqlite3.connect(db_name)  
  
# print("Opened database successfully")

In [9]:
def createTableWithColumns(db_name, table_name, columns):
    """
    
    如果指定的表不存在，則在SQLite資料庫中根據提供的列定義創建該表。
    參數:
    db_name (str): 資料庫檔案名。
    table_name (str): 要創建的表名。
    columns (str): 表的列定義，列名和資料類型應按SQL語法給出，列與列之間用逗號分隔。
    """
    try:
        conn = sqlite3.connect(db_name)
        create_table_sql = f'''CREATE TABLE IF NOT EXISTS {table_name} ({columns});'''
        conn.execute(create_table_sql)
        conn.commit()
    except sqlite3.Error as error:
        print(f"数据库操作出错: {error}")
    finally:
        conn.close()

In [ ]:
import sqlite3

def dropTable(db_name, table_name):
    """
    删除指定的SQLite資料表。

    参数:
    db_name (str): 資料表文件名。
    table_name (str): 要删除的表名。
    """
    try:
        conn = sqlite3.connect(db_name)
        cursor = conn.cursor()
        cursor.execute(f"DROP TABLE IF EXISTS {table_name}")
        conn.commit()
    except sqlite3.Error as error:
        print(f"資料表操作出错: {error}")
    finally:
        conn.close()

# 使用示例
# dropTable('data/sqlchain.db', 'OldTableName')

In [ ]:
def addColumn(db_name, table_name, column_definition):
    """
    向指定的SQLite表中添加一个新列。

    参数:
    db_name (str): 資料表名。
    table_name (str): 要修改的表名。
    column_definition (str): 新列的定義，包括列名和數據類型，如`"new_column TEXT"`。
    """
    try:
        conn = sqlite3.connect(db_name)
        cursor = conn.cursor()
        cursor.execute(f"ALTER TABLE {table_name} ADD COLUMN {column_definition}")
        conn.commit()
    except sqlite3.Error as error:
        print(f"資料表操作出錯: {error}")
    finally:
        conn.close()

# 使用示例
# addColumn('data/sqlchain.db', 'TableName', 'new_column TEXT')

In [15]:
def dropColumn(db_name, table_name, column_definition):
    """
    在SQLite資料表中丟掉欄位

    参数:
    db_name (str): 資料庫文件名。
    table_name (str): 要修改的表名。
    column_definition (str): 新列的定義，包括列名，如`"new_column"`。
    """
    try:
        conn = sqlite3.connect(db_name)
        cursor = conn.cursor()
        cursor.execute(f"ALTER TABLE {table_name} drop  COLUMN {column_definition}")
        conn.commit()
    except sqlite3.Error as error:
        print(f"資料表操作出錯: {error}")
    finally:
        conn.close()

#dropColumn(db_name, 'ram', 'ID')

In [10]:
# 創建CPU資料
table_name='cpu'
columns = '''
       NAME           TEXT    , 
       PRICE          INT    ,
       MODEL          TEXT    ,
       BRAND          TEXT    ,
       ETL_DATE           DATETIME,
       PERFORMANCE	 TEXT    ,
       base_clock     INT,
       boost_clock    INT
       '''
createTableWithColumns(db_name, table_name, columns)

In [11]:
# 創建主機板資料
table_name='mainboard'
columns = '''
       ID            INT , 
       NAME           TEXT    , 
       PRICE          INT    ,
       MODEL          TEXT    ,
       BRAND          TEXT    ,
       ETL_DATE           DATETIME
       '''
createTableWithColumns(db_name, table_name, columns)

In [13]:
# 創建GPU資料
table_name='gpu'
columns = ''' 
       NAME           TEXT    , 
       PRICE          INT     ,
       MODEL          TEXT    ,
       BRAND          TEXT    ,
       MEMORY         TEXT    ,
       MEMORY_VALUE   INT    ,
       MEMORY_UNIT    TEXT   ,
       corefrequency_value INT,
       corefrequency_unit TEXT,
       DDR                INT ,
       ETL_DATE           DATETIME
       '''
createTableWithColumns(db_name, table_name, columns)

In [ ]:
# 創建HDD資料
table_name='hdd'
columns = ''' 
       NAME           TEXT    , 
       PRICE          INT     ,
       MODEL          TEXT    ,
       CAPACITY_VALUE INT ,
       CAPACITY_UNIT       TEXT    ,
       DRIVE_TYPE     TEXT    ,
       READ_SPEED     INT     ,
       WRITE_SPEED    INT     ,
       ETL_DATE           DATETIME
       '''
createTableWithColumns(db_name, table_name, columns)

In [ ]:
# 創建RAM資料
table_name='ram'
columns = ''' 
       NAME                TEXT    , 
       PRICE               INT     ,
       MODEL               TEXT    ,
       CAPACITY            TEXT    ,
       CAPACITY_VALUE      INT    ,
       CAPACITY_UNIT       TEXT     ,
       ETL_DATE            DATETIME
       '''
createTableWithColumns(db_name, table_name, columns)

In [ ]:
# 創建GPU資料
table_name='gpu'
columns = ''' 
       NAME           TEXT    , 
       PRICE          INT     ,
       MODEL          TEXT    ,
       BRAND          TEXT    ,
       MEMORY         TEXT    ,
       MEMORY_VALUE   INT    ,
       MEMORY_UNIT    TEXT   ,
       corefrequency_value INT,
       corefrequency_unit TEXT,
       DDR                INT ,
       ETL_DATE           DATETIME
       '''
createTableWithColumns(db_name, table_name, columns)

In [17]:
# 建立散熱器的TABLE
table_name='radiator'
columns='''
       ID INT , 
       NAME           TEXT    , 
       PRICE          INT    ,
       MODEL        TEXT,
       BRAND          TEXT    ,
       ETL_DATE       DATETIME,
       TDP          TEXT    ,
       RPM          TEXT    ,
       TYPE         TEXT
       '''

createTableWithColumns(db_name, table_name, columns)

In [22]:
# 建立機殼的TABLE
table_name='chassis'
columns='''
       NAME           TEXT    , 
       PRICE          INT     ,
       SIZE           TEXT    ,
       BRAND          TEXT    ,
       ETL_DATE       DATETIME,
       CASETYPE       TEXT    ,
       MATERIAL       TEXT
       '''

createTableWithColumns(db_name, table_name, columns)

In [23]:
# 建立電源的TABLE
table_name='battery'
columns='''
       NAME           TEXT    , 
       PRICE          INT     ,
       ETL_DATE       DATETIME
       '''

createTableWithColumns(db_name, table_name, columns)

In [27]:
# 建立螢幕的Table
table_name='monitor'
columns='''
NAME TEXT,
BRAND TEXT,
PRICE INT,
ETL_DATE DATETIME,
MODEL TEXT,
hz TEXT
       '''
createTableWithColumns(db_name, table_name, columns)

## 增加欄位/減少欄位

In [31]:
# 加入特定欄位
import sqlite3  
  
db_name = 'data/sqlchain.db'
conn = sqlite3.connect(db_name)  
  
table_name='monitor'
conn.execute(f'''ALTER TABLE {table_name} 
           ADD  COLUMN 
           hz varchar;
           ''')
conn.close()

In [32]:
# 丟掉特定欄位
# # # 建立資料庫
import sqlite3  
  
db_name = 'data/sqlchain.db'
conn = sqlite3.connect(db_name)  
  
table_name='monitor'
conn.execute(f'''ALTER TABLE {table_name} 
           drop  hzz 
           ;
           ''')
conn.close()

In [92]:
#增加表格
import sqlite3  
  
db_name = 'data/sqlchain.db'
conn = sqlite3.connect(db_name)  
table_name = 'motherboard'
conn.execute(f'''CREATE TABLE {table_name} 
       (ID INT , 
       NAME           TEXT    , 
       PRICE          INT    ,
       MODEL          TEXT    ,
       BRAND          TEXT    ,
       ETL_DATE           DATETIME
       );''')
conn.close()

In [98]:
# 查詢測試
conn = sqlite3.connect(db_name)  
sql1=f'''
select *
from cpu
'''
test=pd.read_sql(sql1,conn)
conn.close()
test.head()

,ID,NAME,PRICE,MODEL,BRAND,ETL_DATE,performance,base_clock,boost_clock
0,Intel Processor,Intel Processor 300【2核/4緒】3.9GHz/6M/UHD710/46W,2990,Intel Processor,None,2024-03-03,2核/4緒,3.9,3.9
1,Intel i3-14100F,Intel i3-14100F【4核/8緒】3.5GHz(↑4.7GHz)/12M/無內顯/...,3990,Intel i3-14100F,None,2024-03-03,4核/8緒,3.5,4.7
2,Intel i3-14100,Intel i3-14100【4核/8緒】3.5GHz(↑4.7GHz)/12M/UHD73...,4800,Intel i3-14100,None,2024-03-03,4核/8緒,3.5,4.7
3,Intel i5-14400F,Intel i5-14400F【10核/16緒】2.5GHz(↑4.7G)/20M/無內顯/...,6800,Intel i5-14400F,None,2024-03-03,10核/16緒,2.5,4.7
4,Intel i5-14400,Intel i5-14400【10核/16緒】2.5GHz(↑4.7G)/20M/UHD73...,7650,Intel i5-14400,None,2024-03-03,10核/16緒,2.5,4.7

In [28]:
# 查詢目前DB中所有的表格
conn = sqlite3.connect(db_name)  
sql1=f'''
SELECT type, name, sql FROM sqlite_master WHERE type IN ('table', 'view');
'''
test=pd.read_sql(sql1,conn)
conn.close()
test

Empty DataFrame
Columns: [NAME, BRAND, PRICE, ETL_DATE, MODEL, resolution]
Index: []